@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fbfbfb;
}

/*   HEADER   */

.whole-page-wrapper {
    position: relative;
    min-height: 100vh;
    padding: 2rem 0 3rem;
}

header.report-header {
    margin: 0 0 15px;
    font-family: Inter, serif;
    text-align: center;
    padding-bottom: 15px;
}

header.report-header h1.main-title {
    margin-bottom: 20px;
    text-transform: capitalize;
}

header.report-header h2 {
    padding: 0 20px;
}

h2 #project-title {
    color: #187bf9cc;
}


/*   MAIN CONTENT   */

main.container {
    overflow-x: auto;
    padding: 0;
}

.table-wrapper {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}

#dependencies-table {
    margin-bottom: 40px;
}

table tr {
    vertical-align: middle;
}

/*table tr.table-danger {
    background-color: #f8d7da94;
}*/

/* Align header */

table th:nth-child(4),
table th:nth-child(5),
table th:nth-child(6),
table th:nth-child(7),
table th:nth-child(8),
table th:nth-child(9) {
    text-align: center;
}

/* Align content */

table tr:not(.table-danger) td:nth-child(4),
table tr:not(.table-danger) td:nth-child(5),
table tr:not(.table-danger) td:nth-child(6),
table tr:not(.table-danger) td:nth-child(7),
table tr:not(.table-danger) td:nth-child(8),
table tr:not(.table-danger) td:nth-child(9) {
    text-align: center;
}

.empty-state {
    text-align: center;
}


/*   FOOTER   */

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #959696;
    width: 100%;
    height: 3rem;
}

footer p {
    margin: 0;
}

footer a,
footer a:visited {
    text-decoration: none;
    color: #187bf9cc;
}

@media (min-width: 512px) {
    .container-xxl {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 980px) {
    .container-xxl {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width: 1400px) {
    .container-xxl {
        max-width: 94%;
    }
}
